<footer class="footer mt-auto">
    <div class="copyright bg-white d-flex justify-content-center">
        <p>Sağlık Rehberi KDS - <span id="copy-year"></span></p>
    </div>
    <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
    </script>
</footer>
